<h2>Let's make some music...</h2>
<p>Below is a bar of notes, randomly selected from the major scale.</o>

<p>
Here are some notes:
<%= notes_list %>

You have 30 seconds until refresh.. go go go!
<o>

<div class="vex-tabdiv"
	width=800 scale=1.0 editor="false"
	editor_height=80>tabstave notation=true tablature=false
	notes <%= notes_list %>
</div>

<ul class="notesgrid">
	<li>Low C = open</li>
	<li>D = 1+3</li>
	<li>E = 1+2</li>
	<li>F = 1</li>
	<li>G = open</li>
	<li>A = 1+2</li>
	<li>B = 2</li>
	<li>High C = open</li>
</ul>
