<h2>Let's make some music...</h2>
<p>Below is a bar of notes, randomly selected from the major scale.</o>

Here are some notes:
<%= notes_list %>

<div class="vex-tabdiv"
	width=400 scale=1.0 editor="false"
	editor_height=80>tabstave notation=true tablature=false
	notes <%= notes_list %>
</div>